* {
    padding: 0;
    margin: 0;

}
body {
    background: url('../images/astro1.jpg');
    min-height: 950px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
canvas{
    background: #1A1C32;
    /* background-size: 0%; */
    /* background-position: center center; */
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50px;
    border: groove 2px black;
    border-top: none;
}
canvas.top {
    background: black;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50px;
    border: groove 2px black;
}

.first{
    background: none;
    height: 50px;
    width: 50px;
    position: absolute;
    border: none;
    /* border: solid 0.5px white; */
    top: 175px;
    left: 611px;
}

.second{
    background: none;
    height: 50px;
    width: 50px;
    position: absolute;
    border: none;
    /* border: solid 0.5px white; */
    top: 294px;
    left: 611px;
}
.third{
    background: none;
    height: 50px;
    width: 50px;
    position: absolute;
    border: none;
    /* border: solid 0.5px white; */
    top: 294px;
    left: 1141px;
}
.fourth{
    background: none;
    height: 50px;
    width: 50px;
    position: absolute;
    border: none;
    /* border: solid 0.5px white; */
    top: 413px;
    left: 720px;
}
.fifth{
    background: none;
    height: 50px;
    width: 50px;
    position: absolute;
    border: none;
    /* border: solid 0.5px white; */
    top: 494px;
    left: 720px;
}
.sixth{
    background: none;
    height: 50px;
    width: 50px;
    position: absolute;
    border: none;
    /* border: solid 0.5px white; */
    top: 614px;
    left: 1141px;
}