* {
    padding: 0;
    margin: 0;

}
html {
    max-height: 950px;
}
body {
    background: url('../images/astro1.jpg');
    min-height: 950px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.container{
    display: block;
    width: 800px;
    height: 700px;
    position: relative;
    left: 10%;
}
.social-icons{
    position: relative;
    left: 80px;
    bottom: -128px;
}
.social-icons a {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
  margin-right: 1rem;
}
.social-icons a:hover {
  color: #0000CD;
}
/* .social-icons a {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  background-color: black;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
  margin-right: 1rem;
} */

.social-icons a:last-child {
  margin-right: 0;
}

/* .social-icons a:hover {
  background-color: #0000CD;
} */
canvas{
    background: #1A1C32;
    margin: 0 auto;
    position: relative;
    top: 50px;
    border: groove 2px black;
    border-top: none;
}
canvas.top {
    background: black;
    margin: 0 auto;
    position: relative;
    top: 60px;
    border: groove 2px black;
}

.first{
    background: none;
    height: 50px;
    width: 50px;
    position: relative;
    border: none;
    /* border: solid 0.5px white; */
    top: -535px;
    left: 52px;
    outline: none;
}

.second{
    background: none;
    height: 50px;
    width: 50px;
    position: relative;
    border: none;
    /* border: solid 0.5px white; */
    top: -415px;
    left: 0px;
    outline: none;
}
.third{
    background: none;
    height: 50px;
    width: 50px;
    position: relative;
    border: none;
    /* border: solid 0.5px white; */
    top: -415px;
    left: 473px;
    outline: none;
}
.fourth{
    background: none;
    height: 50px;
    width: 50px;
    position: relative;
    border: none;
    /* border: solid 0.5px white; */
    top: -295px;
    left: 0px;
    outline: none;
}
.fifth{
    background: none;
    height: 50px;
    width: 50px;
    position: relative;
    border: none;
    /* border: solid 0.5px white; */
    top: -216px;
    left: -53px;
    outline: none;
}
.sixth{
    background: none;
    height: 50px;
    width: 50px;
    position: relative;
    border: none;
    /* border: solid 0.5px white; */
    top: -96px;
    left: 313px;
    outline: none;
}
.side-bar{
    background-color: black;
    color: #fff;
    position: relative;
    width: 400px;
    height: 662px;
    left: 850px;
    bottom: 708px;
    padding: 20px;
    font-family: 'Righteous', cursive;
    line-height: 1.8em;
}
.intro{
    width: 100%;
    height: 240px;
    margin-bottom: 15px;
}
.intro h3{
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;
}
.intro p{

}
.instructions{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}
.instructions p{

}
.game-start{
    text-align: center;
}