* {
    padding: 0;
    margin: 0;

}
html {
    max-height: 950px;
}
body {
    background: url('../images/astro1.jpg');
    min-height: 950px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.container{
    display: block;
    width: 800px;
    height: 700px;
    position: relative;
    left: 25%;
}
canvas{
    background: #1A1C32;
    margin: 0 auto;
    position: relative;
    top: 50px;
    border: groove 2px black;
    border-top: none;
}
canvas.top {
    background: black;
    margin: 0 auto;
    position: relative;
    top: 60px;
    border: groove 2px black;
}

.first{
    background: none;
    height: 50px;
    width: 50px;
    position: relative;
    border: none;
    /* border: solid 0.5px white; */
    top: -535px;
    left: 52px;
}

.second{
    background: none;
    height: 50px;
    width: 50px;
    position: relative;
    border: none;
    /* border: solid 0.5px white; */
    top: -415px;
    left: 0px;
}
.third{
    background: none;
    height: 50px;
    width: 50px;
    position: relative;
    border: none;
    /* border: solid 0.5px white; */
    top: -415px;
    left: 473px;
}
.fourth{
    background: none;
    height: 50px;
    width: 50px;
    position: relative;
    border: none;
    /* border: solid 0.5px white; */
    top: -295px;
    left: 0px;
}
.fifth{
    background: none;
    height: 50px;
    width: 50px;
    position: relative;
    border: none;
    /* border: solid 0.5px white; */
    top: -216px;
    left: -53px;
}
.sixth{
    background: none;
    height: 50px;
    width: 50px;
    position: relative;
    border: none;
    /* border: solid 0.5px white; */
    top: -96px;
    left: 313px;
}